<h1 class="heading-xlarge">paas-submit</h1>

<p>Below are examples of embedding the form widgets.</p>
<p>The snippets include `script` tags for automatically resizing the iframes. These are optional but recormended for the best experience. For more options for the `iframeResize` function see the <a href="https://github.com/davidjbradshaw/iframe-resizer">documentation here</a></p>
<p>If the parent page contains Google Analytics tags, then the tracking-id and client-id will be passed through to the iframe and `support` events will be triggered with actions of `register` and `signup` tied to the client-id</p>

<div class="example">
	<h2 class="heading-medium">Registration/Signup Form</h2>
	<div class="panel panel-border-wide">
		<p>Embed the following HTML snippet to get a signup form:</p>
	</div>
	<pre class="code"> </pre>
	<br>
	<div class="frame">/register</div>
	<br>
	<br>
</div>

<div class="example">
	<h2 class="heading-medium">Support Enquiry</h2>
	<div class="panel panel-border-wide">
		<p>Embed the following HTML snippet to get a support enquiry form:</p>
	</div>
	<pre class="code"> </pre>
	<br>
	<div class="frame">/support</div>
	<br>
	<br>
</div>
<script src="/embed.js"></script>
<script type="application/javascript">
	(function(){
		var els = document.getElementsByClassName('example');
		for (var i=0; i<els.length; i++) {
			(function(i){
				var frame = els[i].getElementsByClassName('frame')[0];
				var code = els[i].getElementsByClassName('code')[0];
				var script = [
					'<script src="'+window.location.protocol + '//' + window.location.host +'/embed.js"><\/script>',
					'<iframe id="formframe'+i+'" src="' + window.location.protocol + '//' + window.location.host + frame.innerText + '" style="width:100%" frameborder="0" scrolling="no"><\/iframe>',
					'<script>initForm({}, "#formframe'+i+'")<\/script>',
				].join('\n');
				frame.innerHTML = script;
				code.innerText = script;
				initForm({log: true}, '#formframe'+i);
			})(i);
		}
	})()
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-107004826-1', 'auto');
  ga('send', 'pageview');

</script>
