<!DOCTYPE html>
<html>
<head>
	<title>Gov.UK PaaS Submit</title>
	<link rel="stylesheet" type="text/css" href="/screen.css">
</head>
<body>

	<%= yield %>

	<!-- included to allow parent to handle auto sizing -->
	<!-- https://github.com/davidjbradshaw/iframe-resizer -->
	<script type="text/javascript" src="/iframeResizer.contentWindow.min.js"></script>
	<script>
		// disable btns on submit
		if (document.querySelector) {
			var form = document.querySelector('form');
			var submit = document.querySelector('input[type=submit]');
			if (form && submit) {
				form.onsubmit = function(e){
					submit.disabled = 'disabled';
				}
			}
		}
	</script>
</body>
</html>
